<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Category</th>
    </tr>
    <tr th:if="${user != null}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.category}"></td>
    </tr>
    <tr th:unless="${user != null}">
        <td colspan="6">User not found.</td>
    </tr>
</table>
</body>
</html>
