<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="/js/uriButton.js" type="text/javascript"></script>
</head>
<body>
    <h1>Welcome <span th:text="${firstName}"></span> <span th:text="${lastName}"></span></h1>
    <nav>
        <a href="/home">Logout</a>
    </nav>

    <div>
        <button type="submit" id="myButton">Click me to see my registration details</button>
    </div>
</body>
</html>
